body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

button {
  width: 50%;
  height: 40px;
  background-color: rgb(24, 156, 205);
  margin-top: 40px;
  padding: 0 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  display: block;
  transition: border-color 0.3s ease;
}

.page-container {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .output {
  display: none;
  width: 100px;
  padding: 50px;
  padding-right: 200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* meeds editing */
/* label[data-error]:hover::after {
  display: block;
} */

.form-container {
  width: 300px;
  padding: 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="number"],
form input[type="date"] {
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 0 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  border-width: 2px;
  font-size: 18px;
  outline: none;
  font-family: "Roboto Mono", monospace;
  display: block;
  transition: border-color 0.3s ease;
}

input:focus[type="number"],
input:focus[type="date"] {
  border-color: rgb(24, 156, 205);
}

label[data-error] {
  position: relative;
  color: rgb(170, 22, 22);
}

/* meeds editing */
label[data-error]::after {
  font-size: 10px;
  content: attr(data-error); /* Use the value of data-error as tooltip text */

  color: rgb(238, 44, 44);
  padding: 5px;
  border-radius: 5px;
  top: 60; /* Position the tooltip below the element */
  left: 110;
  white-space: nowrap;
  opacity: 1;
}

label::after {
  position: absolute;
  opacity: 0;
  transition: opacity 5s ease;
}
input[has-error] {
  background-color: rgba(223, 163, 163, 0.8);
  border-color: rgb(170, 22, 22);
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
