<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <h1>Redemption Model Calculator</h1>
    <div class="page-container">
      <div class="form-container">
        <form id="arm-form" class="arm-form" action="">
          <label
            class="floating-label"
            for="land-advance"
            id="land-advance-label"
            >Land Advance</label
          >
          <input
            type="number"
            name="land-advance"
            id="land-advance"
            min="0"
            step="0.01"
            required />
          <label
            for="contractual-monthly-rate"
            id="contractual-monthly-rate-label"
            >Contractual Monthly Rate</label
          >
          <input
            type="number"
            name="contractual-monthly-rate"
            id="contractual-monthly-rate"
            min="0"
            max="100"
            step="0.01"
            required />
          <label
            for="beginning-of-default-period"
            id="beginning-of-default-period-label">
            Beginning of default period
          </label>
          <input
            type="date"
            name="beginning-of-default-period"
            id="beginning-of-default-period"
            class="date-input" />
          <label for="end-of-default-period" id="end-of-default-period-label"
            >End of default period</label
          >
          <input
            type="date"
            name="end-of-default-period"
            id="end-of-default-period"
            class="date-input" />
          <button type="submit" id="submit">Calculate</button>
        </form>
      </div>

      <div class="output-container" id="output-container">
        <div class="output" id="total-interest">
          <p>Total Interest Due</p>
          <p id="interest-value"></p>
        </div>

        <div class="output" id="implied-daily-default-rate">
          <p>Implied daily default rate</p>
          <p id="daily-default-rate-value"></p>
        </div>
        <div class="output" id="implied-daily-default-rate">
          <p>Implied daily regular rate</p>
          <p id="daily-regular-rate-value"></p>
        </div>
        <div class="output" id="implied-daily-default-rate">
          <p>Implied regular annual rate</p>
          <p id="regular-annual-rate-value"></p>
        </div>
      </div>
    </div>
  </body>

  <script
    src="{{ url_for('static', filename='js/index.js') }}"
    type="module"
    crossorigin="anonymous"></script>
</html>
